
.error-snackbar .mat-mdc-snackbar-surface {
  background: #d32f2f !important; 
  color: #fff !important;
}
.error-snackbar .mat-mdc-snack-bar-label {
  color: #fff !important;
}
.error-snackbar .mat-mdc-button {
  color: #fff !important;
}


.success-snackbar .mat-mdc-snackbar-surface {
  background: #388e3c !important;
  color: #fff !important;
}
.success-snackbar .mat-mdc-snack-bar-label {
  color: #fff !important;
}
.success-snackbar .mat-mdc-button {
  color: #fff !important;
}


.info-snackbar .mat-mdc-snackbar-surface {
  background: #1976d2 !important; 
  color: #fff !important;
}
.info-snackbar .mat-mdc-snack-bar-label {
  color: #fff !important;
}
.info-snackbar .mat-mdc-button {
  color: #fff !important;
}
